html {
  padding-bottom: 0px;
}

h3 {
  margin-top: 0px;
}

.tutorial-main {
  height: 340px;
}
.tutorial {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.tutorial p {
  float: left;
  width: 325px;
}

.tutorial button {
  margin-top: 15px;
}

.sample-text {

}

.next-button {
  position: absolute;
  bottom: 10px;
  right: 0px;
}

.prev-button {
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.header {
  height: 15px;
}

.branding-attribution {
  position: absolute;
  left: 0;
  bottom: 0;
}

.warning {
  color:gray;
  font-style: italic;
  font-size: .8em;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: black;
  opacity: .3;
  z-index: 2147483646;
}

.error-pane {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 125;
  width: 300px;
  background-color: white;
  /* The z-index must be comically large because this is an extension.
     The largest z-index of the page that is being augmented is unknown, so
     int max is used to be safe.
     While most hover panes already have a z-index this high, the tutorial's is
     one lower*/
  z-index:2147483647;
}
#exit-button {
  float: right;
  clear: both;
  cursor: pointer;
}
