/* Styles for context pane */
#lipsum {
    width:500px;
}

.hover-pane {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    box-shadow: 0px 0px 15px #888888;
    background-color: white;
    width: 400px;
    position:absolute;

    /* The z-index must be comically large because this is an extension.
       The largest z-index of the page that is being augmented is unknown, so int max
       is used to be safe. */
    z-index:2147483647;
}

.hover-pane iframe {
  border:0;
}

.pane-body {
  height: 200px;
  width: 400px;
  overflow: auto;
}

.branding {
  background-color: #dbdbdb;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px;
}

.branding p {
  margin-left: 1em;
  color: #2a2a2a;
  font-family: Arial, sans-serif;
  font-size: 11px;
}
.context-logo {
  font-weight: bold;
}

.pane-content {
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
}

.pane-content img {
  float: right;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.pane-content h2 {
  font-size: 20px;
  float:left;
}

.pane-content p {
  clear:left;
}

.error {
  color:gray;
  font-style: italic;
  font-size: 10px;
}

.cardstack-highlight {
  background-color:#FFFF00;
}

.cardstack-highlight:hover {
  text-decoration:underline;
  cursor: pointer;
}

.spinnerHolder {
  position:relative;
  top:0;
  height: 150px;
  width: 100%;
}

.spinner {
  position:absolute;
}
