.container {
  height: 500px;
  width: 500px;
  margin: 50px;
  position: relative;
  top: 20px;

}
.icon {
  height: 16px;
  width: 16px;
  line-height: 16px;
  background-color: #00AF8B;
  position: relative;
  top: 50px;
  left: 50px;
  text-align: center;
}

.char {
  font-family: 'Museo', sans-serif;
  color: white;
  font-size: 16px;
}
