<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/fonts.css">
  <link rel="stylesheet" type="text/css" href="../styles/branding.css">
  <script src="../scripts/config.js" defer></script>
  <script src="../scripts/branding.js" defer></script>
</head>
<body>
  <div class="branding">
    <p class="signature">Powered by<span class="logo">
      <span class="logo-first-char">T</span>ell me more</span></p>
    <p><a id="blacklist-link" href="#">
      Don't show hovercards for this page</a></p>
  </div>
</body>
