<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/tutorial.css">
    <script src="../scripts/jquery-2.1.1.min.js" defer></script>
    <script src="../scripts/utilities.js" defer></script>
    <script src="../scripts/tutorialCore.js" defer></script>
    <script src="../scripts/tutorial2.js" defer></script>
  </head>
  <div class="tutorial tutorial-main">
    <div class="header">
      <span class="glyphicon glyphicon-remove" id="exit-button"></span>
    </div>
    <h3>No precision required</h3>
    <p>Tell Me More understands incomplete selections as well. Select only part
    of a phrase ("ko Har", for instance).</p>
    <p class="well">Last Thursday night, Nigerian troops rescued 160 children
        from Boko Haram.</p>
    <button class="prev-button btn btn-primary" type="button"
        id="context-step1">Prev</button>
    <button class="next-button btn btn-primary" type="button"
        id="context-step3">Next</button>
  </div>
</div>
