<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/tutorial.css">
    <script src="../scripts/jquery-2.1.1.min.js" defer></script>
    <script src="../scripts/utilities.js" defer></script>
    <script src="../scripts/tutorial1.js" defer></script>
  </head>
  <div class="tutorial">
    <h2>The basics</h2>
    <p>Tell Me More is a tool that lets you look up terms in Wikipedia without
      navigating away from the page you're on. Try it out by selecting
      "President Obama" in the text below (just click and drag,
      like you would if you wanted to copy it).</p>
    <p class="well">In his 2015 State of the Union address, President Obama
      discussed a variety of topics ranging from policy in Iran to tax loopholes
      at home.</p>
    <p>There are plenty of other terms in that snippet -- try selecting any
      of them. The only limitation is what's found in Wikipedia.</p>
    <button class="next-button" type="button" id="context-step2">
      Next</button>
  </div>
</div>
