<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/tutorial.css">
    <script src="../scripts/jquery-2.1.1.min.js" defer></script>
    <script src="../scripts/iframe-utils.js" defer></script>
    <script src="../scripts/utilities.js" defer></script>
    <script src="../scripts/tutorialCore.js" defer></script>
    <script src="../scripts/tutorial3.js" defer></script>
  </head>
  <div class="tutorial tutorial-main">
    <div class="header">
      <span class="glyphicon glyphicon-remove" id="exit-button"></span>
    </div>
    <h3>Disable lookups</h3>
    <p>Automatic lookups can be disabled in
    <a id="options-link" target="_blank">options</a>.</p>
    <p>Tell me more can still be accessed in the right-click menu. Select some
    text below, right click, and select "Tell me more".</p>
    <p class="well">While originally meant to run for ninety days, the
      Opportunity rover has been exploring Mars and sending data to NASA
      for over a decade.</p>
    <button class="prev-button btn btn-primary" type="button"
        id="context-step2">Prev</button>
    <button class="next-button btn btn-primary" type="button"
        id="context-tutorial-end">That's it</button>
  </div>
</div>
