<div class="pane-content" style="height: 400px">
  <div class="tutorial">
    <h2>The basics</h2>
    <p>Tell Me More is a tool that lets you look up terms in Wikipedia without
      navigating away from the page you're on. Try it out by selecting
      "President Obama" in the text below (just click and drag,
      like you would if you wanted to copy it).</p>
    <p class="well">In his 2015 State of the Union address, President Obama
      discussed a variety of topics ranging from policy in Iran to tax loopholes
      at home.</p>
    <p>The president's not the only term in that snippet -- 'Iran', 'tax loopholes', and
      'State of the Union address' all work. The only limitation is what's found in
      Wikipedia.</p>
    <button class="next-button" type="button" id="context-step2">
      Next</button>
  </div>
</div>
