<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/tutorial.css">
    <script src="../scripts/tutorial-intro.js" defer></script>
  </head>
<div>
  <div class="tutorial">
    <div class="header">
      <span class="glyphicon glyphicon-remove" id="exit-button"></span>
    </div>
    <p>Hey there! It looks like this is your first time using Tell Me More.
      Would you like a quick intro?</p>

    <button type="button" id="never" style="float: left">Don't show this
      again</button>
    <button type="button" id="step1" style="float: right">Show me the ropes
      </button>
  </div>
</div>
