<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/tutorial.css">
    <script src="../scripts/jquery-2.1.1.min.js" defer></script>
    <script src="../scripts/utilities.js" defer></script>
    <script src="../scripts/tutorialCore.js" defer></script>
    <script src="../scripts/tutorial2.js" defer></script>
  </head>
  <div class="tutorial">
    <span class="glyphicon glyphicon-remove" id="exit-button"></span>
    <h2>Partial selections</h2>
    <p>For a lot of us, precise text selection is a pain. Don't worry about it
      -- as long as you select part of the words you want to look up, Tell Me
      More will search for the whole phrase. Try just selecting part of any of
      the terms below ("ate of the Un", for instance).</p>
    <br/>
    <p class="well">In his 2015 State of the Union address, President Obama
      discussed a variety of topics ranging from policy in Iran to tax loopholes
      at home.</p>
    <button class="next-button" type="button" id="context-step3">
      Next</button>
  </div>
</div>
