<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/tutorial.css">
    <script src="../scripts/jquery-2.1.1.min.js" defer></script>
    <script src="../scripts/utilities.js" defer></script>
    <script src="../scripts/tutorialCore.js" defer></script>
    <script src="../scripts/tutorial3.js" defer></script>
  </head>
  <div class="tutorial">
    <h2>Disabling auto-show</h2>
    <p>By default, Tell Me More will show you an info pane whenever you select
      text (unless it's more than five words). While it's nice to be able to
      look up terms with just a selection, it's not great for every page. You
      can disable auto-show for any page by clicking the link in the
      bottom-right (try it now: select any word, then disable the automatic
      popup). You can see and edit your list of disabled pages (or disable the
      auto-show feature entirely) in the <a id="options-link" target="_blank">
      options page</a>, which can be found in the extensions management page.
    </p>
    <br/>
    <p>When auto-show has been disabled, you can still look up terms by
      right-clicking a selection and selecting "Tell me more...".</p>
    <br/>
    <button class="next-button" type="button" id="context-tutorial-end">
      That's it!</button>
  </div>
</div>
