<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/tutorial.css">
    <script src="../scripts/jquery-2.1.1.min.js" defer></script>
    <script src="../scripts/utilities.js" defer></script>
    <script src="../scripts/tutorialCore.js" defer></script>
    <script src="../scripts/tutorial1.js" defer></script>
  </head>
  <div class="tutorial tutorial-main">
    <div class="header">
      <span class="glyphicon glyphicon-remove" id="exit-button"></span>
    </div>
    <h3>Wikipedia in the page you're on</h3>
    <p>Select text to look it up. Try selecting "Boko Haram" below (click and
    drag, just like if you wanted to copy it).<p>
    <p class="well">Last Thursday night, Nigerian troops rescued 160 children
        from Boko Haram.</p>
    <button class="next-button btn btn-primary" type="button"
        id="context-step2">Next</button>
  </div>
</div>
