<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/tutorial.css">
    <script src="../scripts/jquery-2.1.1.min.js" defer></script>
    <script src="../scripts/utilities.js" defer></script>
    <script src="../scripts/tutorial1.js" defer></script>
  </head>
  <div class="tutorial">
    <h2>The basics</h2>
    <p>Tell Me More is a tool that lets you look up terms in Wikipedia without
      navigating away from the page you're on. Try it out by selecting
      "President Obama" in the text below (just click and drag).</p>
    <br/>
    <p class="well">In his 2015 State of the Union address, President Obama
      discussed a variety of topics ranging from policy in Iran to tax loopholes
      at home.</p>
    <p>Once you're done, click anywhere outside the info card to dismiss it.
      </p>
    <p>Obama's not the only term in that snippet above. "2015", "State of the
      Union", "tax loopholes"...if it's in Wikipedia, Tell
      Me More will find it.</p>
    <button class="next-button" type="button" id="context-step2">
      Next</button>
  </div>
</div>
