html {
  padding-bottom: 0px;
}

h3 {
  margin-top: 0px;
}

.tutorial-main {
  height: 300px;
}
.tutorial {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.tutorial p {
  float: left;
  width: 325px;
}

.tutorial button {
  margin-top: 15px;
}

.sample-text {

}

.next-button {
  position: absolute;
  bottom: 10px;
  right: 0px;
}

.prev-button {
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.header {
  height: 15px;
}

.branding-attribution {
  position: absolute;
  left: 0;
  bottom: 0;
}

.warning {
  color:gray;
  font-style: italic;
  font-size: .8em;
}

#exit-button {
  float: right;
  clear: both;
  cursor: pointer;
}
