html {
  padding-bottom: 0px;
}
.tutorial {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.tutorial p {
  float: left;
  width: 325px;
}

.tutorial button {
  margin-top: 15px;
}
.next-button {
  float: right;
}

.header {
  height: 15px;
}

.branding-attribution {
  position: absolute;
  left: 0;
  bottom: 0;
}

#exit-button {
  float: right;
  clear: both;
  cursor: pointer;
}
